
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stats</title>
  
    <!-- Load Personal Styles -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'wish_app/style.css' %}">

    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <!-- I) Navigation Bar (Header Panel) -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <span class="navbar-brand"> Hello {{request.session.name}}! These are your stats!</span>

    <!-- Togller for other elements in Navigation Pannel when window screen is reduced -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links and Buttons of Navigation panel--> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/wishes"><u>Dashboard</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/wishes/logout"><u>Log Out</u></a>
            </li>
        </ul>  
    </div>
    </nav>

    <!-- II) Main Panel -->
    <main role="main">
    <div class="container-lg p-4">

        <!-- 2.1) Stats -->
        <div class="row">
            <div class="col-md-8">

            <p class = "h4"> Total wishes granted so far foar all users: {{all_wishes.count}} </p>
            
            <p class = "h6"> Your granted wishes: {{wishes_granted_by_current_user.count}}</p>
            <p class = "h6"> Your pending wishes: {{wishes_pending_by_current_user.count}}</p>

        </div>
    </div>
    </main>

    <!-- III) Footer panel -->
    <footer class="page-footer text-center text-white bg-secondary">
    <p> © Favorite Books's Company 2020</p> 
    </footer>

    <!-- IV) Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>